:root{

    /* ------- colors -------*/
    --dark: #1C2833;
    --white: #fff;
    --light: #d6e2eca2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    /* border: 3px solid red; */
    gap: 20px;
}

.grid-item{
    width: 70%;
    margin: 0 auto;
    /* border: 3px solid greenyellow; */
    padding: 20px;
}

.grid-container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item-2{
    width: 98%;
    margin: 0 auto;
    padding: 20px;
}

.img-fluid{
    width: 100%;
}

select{
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 5px;
}

.title{
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    padding: 20px;
}

.border-top-right-bottom{
    border-top: 1px solid var(--light);
    border-right: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
}

#escondido{
    position: absolute;
    width: 200px;
    height: 100px;
    margin: 10px auto;
    border: 2px solid var(--dark);
    text-align: center;
    background-color: var(--light);
}

.aplicar-none{
    z-index: -1;
}

/********************************** stand by **********************************/

.no-padding{
    padding: 0;
}

.border-full{
    border: 1px solid var(--dark);
}

/********************************** stand by **********************************/